* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
  hyphens: manual;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: white;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.banner,
.footer {
  background: rgb(90, 66, 44);
  color: #fff;
  padding: 1rem;
}

.odd {
  background: crimson;
  height: 3rem;
}

.even {
  background: turquoise;
  height: 3rem;
}

.topMenu {
  background: rgb(136, 102, 38);
  color: #fff;
}
.leftMenu {
  background: orange;
}

.mainContent {
  padding: 1rem;
  font-weight: 400;
  text-align: left;
}
